<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="nav">
        <form action="/" method="GET" class="inline">
            <button class="navBtn" >HOME</button>
        </form>

        <form action="/popular" method="GET" class="inline">
            <button class="navBtn" action="/popular" method="GET">POPULAR</button>
        </form>

        <form action="/create" method="GET" class="inline">
            <button class="navBtn" action="/create" method="GET" >CREATE POST</button>
        </form>

    </div>

    <div class="formContainer">
        <div class="bd-example">
            <form action="/submitArticle" method="POST">
              <div class="form-group">
                <% if(locals.updating == false){%>
                <label for="exampleInputEmail1">Title</label>
                <input  class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter Article</label>
                    <textarea class="form-control" name="article" id="exampleFormControlTextarea1" value="<%=title%>" rows="8"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              <% } else if(locals.updating == true){ %>
                <label for="exampleInputEmail1">Title</label>
                <input  class="form-control" value="<%= title %>" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter Article</label>
                    <textarea class="form-control" name="article" id="exampleFormControlTextarea1" rows="8"><%=content%></textarea>
              </div>
              <button type="submit" class="btn btn-primary">update</button>

              <%}%>
            </form>
            </div>

    </div>
</body>
</html>